<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-content padding class="Registro">
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-6 offset-md-3>
        <form>
          <!--<ion-item>
              <ion-label stacked floating>
                <ion-icon name="contact"></ion-icon> Nombre</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>-->

          <ion-list>
            <ion-item>
              <ion-label stacked floating>
                <ion-icon name="mail"></ion-icon>Correo Electrónico
              </ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>


            <ion-item>
              <ion-label stacked floating>
                <ion-icon name="lock"></ion-icon>Contraseña
              </ion-label>
              <ion-input type="password"></ion-input>
            </ion-item>

            <!--<ion-item>
              <ion-label stacked floating>
                <ion-icon name="lock"></ion-icon> Repetir Contraseña</ion-label>
              <ion-input type="password"></ion-input>
            </ion-item>-->

          </ion-list>

          <div padding>
            <button ion-button block full type="submit"> Registrar</button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>