<ion-header>
<ion-toolbar color="secondary">
    <ion-title>Catalogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-grid>
  <ion-row>
    <ion-col col-12 col-md-6 offset-md-3 col-xl-4 offset-xl-4>

      <ion-list>
        <form>
<ion-item>
  <ion-input required type="text" placeholder="Unidad academica"></ion-input>
</ion-item>
          <ion-item>
  <ion-label>Logo de facultad:</ion-label>
  <ion-input class="file" required type="file" placeholder="Logo de falcultad"></ion-input>
</ion-item>

<ion-item>
  <ion-input required type="textarea" row="2" placeholder="Descripcion"></ion-input>
</ion-item>
<ion-item>
  <ion-input required type="text" placeholder="Encargado"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Turno disponibles:</ion-label>
<ion-toggle [(ngModel)]="matutino"></ion-toggle>
<ion-label>Matutino</ion-label>
<ion-toggle [(ngModel)]="vespertino"></ion-toggle>
<ion-label>Vespertino</ion-label>
<ion-toggle [(ngModel)]="nocturno"></ion-toggle>
<ion-label>Nocturno</ion-label>
</ion-item>
<ion-item>
  <ion-input required type="text" placeholder="Horario de atención"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Galeria de fotos:</ion-label>
  <ion-input class="file" required type="file" placeholder="Logo de falcultad"></ion-input>
</ion-item>
<ion-button color="success" type="submit" full>Guardar</ion-button>
        </form>
      </ion-list>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h2>Lista de unidades academicas dadas de alta</h2>
          <ion-list>
<ion-item>
<ion-img src="../assets/icon/favicon.png" class="loguito"></ion-img>
  <ion-label>
    <h2>Nombre de unidad academica</h2>
    <h3>Director actual</h3>
    <p>Descripcion...</p>
  </ion-label>
<ion-buttons class="btnEliminar" float-right>
<ion-icon color="danger"  name="trash"></ion-icon>
</ion-buttons>

</ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      </ion-grid>
</ion-content>
