<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{facultad.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<h3>Logo de punto de interes:</h3>
<img src="assets/icon/favicon.png" alt="LOGO UAS">
<h3>Descripcion:</h3>
<p>{{facultad.descripcion}}</p>
<h3>Horario de atención:</h3>
<p>{{facultad.horario}}</p>
<h3>Encargado:</h3>
<p>{{facultad.encargado}}</p>
<h3>Turnos:</h3>
<p>{{facultad.turnos}}</p>
</ion-content>
