<ion-header>
<ion-toolbar color="secondary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #formLogin="ngForm" (submit)="onLogin()">  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-6 offset-md-3 col-xl-4 offset-xl-4>

        <ion-list>

          <ion-item>
            <input [(ngModel)]="email" type="email" id="email" name="email" class="form-control" placeholder="Email" required></ion-item>

          <ion-item>
            <input [(ngModel)]="password" type="password" id="password" name="password" class="form-control" placeholder="Password" required>
          </ion-item>

        </ion-list>

        <div padding-horizontal>

<ion-button color="primary" type="submit" full>Iniciar sesión</ion-button>
          <div class="login-footer">
            <p text-center><a href="#">Olvidó su contraseña?</a> Quiere agregar contenido, por favor registrese.</p>
          </div>

          <ion-list>



            <!--button ion-button icon-left block clear (click)="loginWithGoogle()">
                <ion-icon name="logo-google"></ion-icon>
                Acceso con Google
              </button-->
            
<ion-button color="secondary" clear icon-left type="submit" full>
  <ion-icon name="person-add"></ion-icon>Registrarse
</ion-button>

          </ion-list>

        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>
