<ion-header>
<ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Presentación Hola

<ion-buttons class="btnLogin" float-right>
  <ion-icon name="contact"></ion-icon>
</ion-buttons>

    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  
<ion-card>
  <ion-img src="/assets/jpg/UAS_rectoria.jpg"></ion-img>
  <ion-card-header>
    <ion-card-title>Bienvenido a la aplicación</ion-card-title>
  </ion-card-header>
  <ion-card-content>
<p>“La Universidad Autónoma de Sinaloa es lo que sus funcionarios hacen y hoy el trabajo que han realizado le ha
  permitido a la institución escalar en los diferentes niveles y alcanzar el posicionamiento que tiene a nivel nacional
  e internacional”, declaró recientemente el rector Juan Eulogio Guerra Liera, sin embargo, la UAS sigue sin aparecer
  en el top de las mejores universidades de México… y tampoco del mundo.</p>
  </ion-card-content>
</ion-card>
</ion-content>
